@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #dfd7c3; /* Paper-like */
    overflow: hidden;
    font-family: 'Abril Fatface', serif;
    cursor: default;
}

.snake-char {
    position: absolute;
    font-size: 4rem;
    color: #111;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 2s linear; /* slow fade out */
}
